@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
*{margin:0;padding:0;font-family:'나눔고딕','Nanum Gothic','맑은 고딕','Malgun Gothic',Helvetica, '돋움',Dotum,'굴림',Gulim,sans-serif;}
body {-webkit-text-size-adjust: 100%;}
img {border:none}
ul,li{ list-style:none;}
input{ box-sizing:border-box;}
.input_ch{ text-align:center; width:20px; font-size:25px; box-sizing:border-box;}
.input_a{ padding:15px; text-align:center; width:445px; font-size:18px; border:5px solid #2b2b2b; box-sizing:border-box;}
.input_b{ padding:15px; text-align:center; width:400px; font-size:18px; border:5px solid #2b2b2b; box-sizing:border-box;}
a { color:#000; text-decoration:none;}
.cp {cursor:pointer;}
#contents p {word-break:break-all;}
#header {height:50px; background:#3f63bf;}
#header .h_menu1{ background-color:#3959ac; font-weight:bold; width:80px; text-align:center; color:#fff; font-size:24px; padding:10px; float:left;}
#header .h_menu2{  font-size:20px; line-height:120%; color:#fff; padding-top:15px; text-align:left;}
#header .h_menu2{ top:12px; right:20px;}
#header .h_menu3 img{ width:24px;}
#header .h_menu3{position:absolute;  top:12px; right:20px;}
.smenu{ padding:2px; position:relative; border-bottom:1px solid #ddd;}
.smenu li{ display:inline-block; padding:9px 8px; font-size:16px;}
.menu_line{ border-bottom:1px solid #039; color:#039;}
#wrap {max-width:600px; min-width:320px;margin:0 auto;}
.url {color:#ff000c;}
.link {color:#0066ff;font-size:18px;}

#pop_root {max-width:600px; min-width:320px; margin:0 auto;}
#pop_root img{width:100%;}
#pop_root div{max-width:600px;}
#wrap_header  {max-width:600px; min-width:320px; margin:0 auto;}
#bg{background:#000;}


.news_title {clear:both; margin:0 13px 0px 13px;}
.news_title a {text-decoration:none; color:#333}
.news_title p.main_title {font-size:27px; font-weight:bold; margin-top:30px; line-height:150%}
.news_title p.main_stitle {font-size:14px; color:#0066cc; line-height:150%}
.news_title span {display:block; margin-top:8px; margin-bottom:15px;}
.news_title span.reply_icon  {float:left;}
.news_title span.reply_icon  img {width:52px; height:29px;}
.news_title span.zoomin_zoomout  { float:right;}
.news_title span.zoomin_zoomout  img{width:79px; height:29px;}
.news_detail {clear:right; position:relative; margin:15px 13px 0 13px; padding:10px 0 30px 0;}
.news_detail a {text-decoration:none; }
.news_detail p.conts_detail {color:#444; width:100%; font-size:18px; line-height:180%; margin-bottom:30px; letter-spacing:0px}
.news_detail p.conts_detail_center {color:#0070c0; font-size:18px; line-height:180%; margin-bottom:30px; letter-spacing:0px; text-align:center;}
.news_detail p.conts_detail_center img{}
.news_detail p.con_img img{text-align:center;width:80%; margin-bottom:10px;margin:0 auto;}

.request0 {margin:0 auto; background:#f73c33; width:538px; height:276px;}
.request0 li{text-align:center;}
.request0 .cont_1{height:25px;}
.request0 .cont_2{width:50%; float:left; font-size:0.8em;color:#fff; text-align:right;}
.request0 .cont_3{width:50%; float:left; font-size:0.8em;color:#fff; text-align:left;}


.request_introwrap {position:absolute; width:100%;height:auto; padding-top:19%;}
.request_intro { margin:0 auto; background:#0b0523; width:538px; height:276px;}
.request_intro li{text-align:center;}
.request_intro .cont_1{height:25px;}
.request_intro .cont_2{width:50%; float:left; font-size:0.8em;color:#fff; text-align:right;}
.request_intro .cont_3{width:50%; float:left; font-size:0.8em;color:#fff; text-align:left;}



.request1 {background-size:100% 100%; text-align:center;}
.request1 .request1_wrap{margin:0 auto; width:538px; height:338px;}
.request1 .request2_wrap{margin:0 auto; width:538px; height:510px; padding-top:40px; background:url('../common/lottolucky_new2.png') no-repeat;}
.request1 .request2_wrap .ph_form{height:70px;}
.request1 .request2_wrap .agreement_form1{text-align:left;height:25px;padding-top:10px;color:#fff; background:#000;}
.request1 .request2_wrap .agreement_form1 .agr1_1{float:left;width:70px;text-align:right;}
.request1 .request2_wrap .agreement_form1 .agr1_2{float:left;width:360px;text-align:left;font-size:0.8em;}
.request1 .request2_wrap .agreement_form1 .agr1_3{float:left;font-size:0.7em;background:#777777;padding:5px;-moz-border-radius: 3px; -webkit-border-radius: 3px;border-radius: 3px;}
.request1 .request2_wrap .agreement_form1 .agr1_3 a{color:#fff;}
.request1 .request2_wrap .agreement_form2{text-align:left;height:25px;padding-bottom:10px; color:#fff; background:#000;}
.request1 .request2_wrap .agreement_form2 .agr2_1{float:left;width:70px; text-align:right;}
.request1 .request2_wrap .agreement_form2 .agr2_2{float:left;width:360px; text-align:left;font-size:0.8em;}
.request1 .request2_wrap .agreement_form2 .agr2_3{float:left;font-size:0.7em;background:#777777;padding:5px;-moz-border-radius: 3px;-webkit-border-radius: 3px; border-radius: 3px;}
.request1 .request2_wrap .agreement_form2 .agr2_3 a{color:#fff;}
.request1 .request3_wrap{margin:0 auto; width:538px; height:410px; padding-top:20px; background:url('../common/lottolucky_new2.png') no-repeat;}
.request1 .request3_wrap .ph_form{height:70px;}
.request1 .request3_wrap .txt1{height:25px; color:#fff;font-size:0.8em;}
.request1 .request3_wrap .txt2{height:30px; color:#fff000;text-decoration:underline;}

@media (min-width:50px) and (max-width:500px){
.input_ch{ text-align:center; width:20px; font-size:25px; box-sizing:border-box;}
.input_a{ padding:15px; text-align:center; width:80%; font-size:18px; border:5px solid #2b2b2b; box-sizing:border-box;}
.request1 {background-size:100% 100%; text-align:center;}
.request1 .request1_wrap{margin:0 auto; width:100%;height:auto;margin-bottom:-5px;}
.request1 .request2_wrap{margin:0 auto; width:100%; background:url('../common/lottolucky_new2.png') no-repeat;}
.request1 .request2_wrap input{width:80%;}
.request1 .request2_wrap .tit img{width:80%;}
.request1 .request2_wrap .ph_form{height:70px;}
.request1 .request2_wrap .agreement_form1{text-align:left;height:25px;padding-top:10px;color:#fff; background:#000;}
.request1 .request2_wrap .agreement_form1 .agr1_1{float:left;width:10%;text-align:right;}
.request1 .request2_wrap .agreement_form1 .agr1_2{float:left;width:70%;text-align:left;font-size:0.8em;}
.request1 .request2_wrap .agreement_form1 .agr1_3{float:left;font-size:0.7em;background:#777777;padding:5px;-moz-border-radius: 3px; -webkit-border-radius: 3px;border-radius: 3px;}
.request1 .request2_wrap .agreement_form1 .agr1_3 a{color:#fff;}
.request1 .request2_wrap .agreement_form2{text-align:left;height:25px;padding-bottom:10px; color:#fff; background:#000;}
.request1 .request2_wrap .agreement_form2 .agr2_1{float:left;width:10%; text-align:right;}
.request1 .request2_wrap .agreement_form2 .agr2_2{float:left;width:70%; text-align:left;font-size:0.8em;}
.request1 .request2_wrap .agreement_form2 .agr2_3{float:left;font-size:0.7em;background:#777777;padding:5px;-moz-border-radius: 3px;-webkit-border-radius: 3px; border-radius: 3px;}
.request1 .request2_wrap .agreement_form2 .agr2_3 a{color:#fff;}
.request1 .request3_wrap{margin:0 auto; width:100%; height:410px; padding-top:20px; background:url('../common/lottolucky_new2.png') no-repeat;}
.request1 .request3_wrap .ph_form{height:70px;}
.request1 .request3_wrap .tit img{width:80%;}
.request1 .request3_wrap .tit2 input{width:80%;}
.request1 .request3_wrap .txt1{height:25px; color:#fff;font-size:0.8em;}
.request1 .request3_wrap .txt2{height:30px; color:#fff000;text-decoration:underline;}
.request0 {margin:0 auto; background:#f73c33; width:100%; height:276px;}
.request0 li{text-align:center;}
.request0 .cont_1{height:25px;}
.request0 .cont_2{width:49%; float:left; font-size:0.6em;color:#fff; text-align:right;}
.request0 .cont_3{width:49%; float:left; font-size:0.6em;color:#fff; text-align:left;}
.request0 .txt input{width:80%;}


.request_intro {margin:0 auto; background:#0b0523; width:100%; height:276px;}
.request_intro li{text-align:center;}
.request_intro .cont_1{height:25px;}
.request_intro .cont_2{width:49%; float:left; font-size:0.6em;color:#fff; text-align:right;}
.request_intro .cont_3{width:49%; float:left; font-size:0.6em;color:#fff; text-align:left;}
.request_intro .txt input{width:80%;}



.input_b{ padding:15px; text-align:center; width:80%; font-size:18px; border:5px solid #2b2b2b; box-sizing:border-box;}
.news_detail p.conts_detail_center img{width:100%;}
}
.bottom {clear:both;overflow:hidden;border-top:1px solid #e6e6e5;border-bottom:1px solid #ededea;padding:14px 0 18px 0;}
.bottom_01 {	font-size:11px;font-family:AppleSDGothicNeo-Light;color:#4d4d4c;height:29px;text-align:center;}
.bottom_01 span a:link, .bottom_01 span a:visited, .bottom_01 span a:active, .bottom_01 span a:hover {text-decoration:none; color:#4d4d4c;}
.bottom_01 span {display:inline-block;}
.bottom_txt {padding-top:3px;padding-right:10px;vertical-align:top;}
.bottom_txt_last {padding-top:3px;}
.bottom_line {width:1px;padding-top:4px;padding-right:10px;vertical-align:top;}
.copy_txt1 {font-size:11px;font-family:AppleSDGothicNeo-Light;color:#4d4d4c;text-align:center;padding-top:10px;}
.copy_txt1 em {font-style:normal;padding-left:10px;}
.bottom_version1 {text-align:center;margin-top:4px;}
.copy_txt {display:block;font-size:11px;font-family:AppleSDGothicNeo-Light;color:#989896;padding-top:3px;text-decoration:none;}
.copy_txt em {font-family:AppleSDGothicNeo-Light;font-style:normal;letter-spacing:-1px;}