@charset "utf-8";
/* CSS Document */

* { margin:0px; padding:0px; }
body { background:#1b1f20; }
img { border:none; }

#popup_db { background:#000000;}
.db_box { padding:10px;}
.db_box td { font-family:"맑은 고딕"; font-size:16px; line-height:22px; font-weight:bold; padding:5px 0; color:#FFF;}