@charset "utf-8";
/* CSS Document */

body,table,td,div,p,img { margin:0px; padding:0px; border:none; }
a { text-decoration:none; color:#000; }

body { font-family:"맑은 고딕"; font-size:14px; }
#Wrap { width:100%;max-width:600px;margin:0 auto; }
#title_wrap { padding:10px 10px 5px 10px; border-bottom:3px solid #de0404; }
#title { font-size:24px; font-weight:bold; line-height:30px; letter-spacing:-1px; } 
#sub { font-size:16px; font-weight:bold; line-height:24px; padding:10px 0; color:#666; }

.body_txt { padding:10px; font-size:16px; line-height:26px; text-align:justify; word-break:break-all; }
.body_txt2 { padding:15px 0;  }

#reply_title { border-top:1px solid #c6c6c6; font-size:16px; font-weight:bold; text-align:center; }
.r_txt1 { border-right:1px solid #c6c6c6; }
.r_txt2 { background:#dedede; }

.banner_title { height:22px; color:#de0404; padding:7px; border-top:1px solid #a3a3a3; border-bottom:1px solid #a3a3a3; }
.banner { padding:7px 10px; font-size:14px; }
.banner td { padding:3px 0; }

#footer { border-top:1px solid #d4d4d4; background:#dedede; padding:20px 10px; text-align:center; line-height:24px; }

#news-container1 { width:100%; overflow: hidden; position: relative; }
#news-container1 ul { position:absolute; left:0px; width:100%; font-family:"맑은고딕"; font-size:18px; color:#FFF; font-weight:bold  }
#news-container1 ul li { width:100%; padding-right:10px; height:30px; line-height:30px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }

#head01 { font-family:"맑은고딕"; font-size:25px; border-bottom:2px #dadada solid; padding-bottom:10px; font-weight:bold  }


	.db {}
	.db table {padding-top:10px; }
	.db table td {vertical-align:middle; }
	.db table td span {font-size:15px; font-weight:bold}

