@charset "utf-8";
/* CSS Document */

* { margin:0px; padding:0px; list-style:none; }
img { border:none; }
a { text-decoration:none; color:#000; }

#wrap { width:100%; max-width:640px; margin:0 auto; }
#date { font-family:"돋움"; font-size:15px; color:#777777; padding:10px; }

.body_txt { font-family: "맑은고딕","Malgun Gothic","돋움",dotum,sans-serif; font-size:16px; line-height:28px; letter-spacing:-0.4px; padding:15px 5px; text-align:justify; }
.body_txt2 { text-align:center; font-size:18px; font-weight:bold; }

#db_form { border-bottom:8px solid #ededed; }
#db_box { margin-top:20px; background:#092549; padding:10px; color:#FFF; font-weight:bold; }
.db_txt2 { font-size:12px; font-weight:bold; color:#d31450; text-align:center; line-height:18px; margin:10px 0; }
.db_txt3 { font-size:12px; text-align:center; line-height:18px; margin-bottom:10px; }

#bottom_banner { margin:5px 5px 13px 10px; padding-bottom:10px; border-bottom:1px solid #999; }
#bottom_banner li { font-family: "맑은고딕","Malgun Gothic","돋움",dotum,sans-serif; font-size:15px; line-height:30px; letter-spacing:-0.6px; }
#bottom_banner2 { margin:10px 5px 0px 5px; padding-bottom:6px; border-bottom:3px solid #000; }
#bottom_banner2 td { text-align:center; }
.bottom_banner_txt { font-family: "맑은고딕","Malgun Gothic","돋움",dotum,sans-serif; font-size:12px; line-height:18px; letter-spacing:-1px; padding:3px 0 6px 0; }

#reply { border-top:1px solid #a3a3a3; border-bottom:1px solid #a3a3a3; }
.reply_box { background:#F6F6F6; padding:15px 10px; border-bottom:1px dashed #cccccc; font-family: "맑은고딕","Malgun Gothic","돋움",dotum,sans-serif; }
.reply_txt { font-size:14px; }
.reply_txt2 { font-weight:bold; font-size:14px; }
.reply_txt_box { background:#FFF; border:1px solid #CCC; margin:15px 0; padding:3px; font-size:15px; }