@charset "utf-8";
/* CSS Document */

body,h1,h2 { padding:0; margin:0;}
img { border:none;}
a { text-decoration:none; color:#000;}

.head { font-family:"맑은 고딕"; font-size:14px;}
.txt_roll { font-family:"맑은 고딕"; font-size:13px;}

#con { padding:10px;}
h1 { font-family:"맑은 고딕"; font-size:23px; line-height:30px; padding:7px 0;}
h2 { font-family:"맑은 고딕"; font-size:15px; line-height:23px; padding:5px 0;}
#date { padding:8px 0; font-family:"맑은 고딕"; font-size:13px;}
.body_txt { font-family:"맑은 고딕"; font-size:16px; line-height:24px; padding:10px 0; text-align:justify; word-break:break-all;}

.re_bg { background:#f6f6f6; border:1px solid #d3d3d3; height:31px; font-family:"맑은 고딕"; font-size:14px; padding-left:15px;}
.re_txt { font-family:"맑은 고딕"; font-size:13px; padding:15px 10px;}
.re_date {  font-family:"맑은 고딕"; font-size:13px; color:#666;}

.db_wrap { padding:10px; background:#540909;}
.db_wrap td { font-family:"맑은 고딕"; font-size:16px; color:#000; line-height:24px; padding:3px 0; font-weight:bold; color:#FFF;}

.news-container { width:100%;  overflow: hidden; position: relative; }
.news-container ul { position:absolute; left:0px; width:100%; font-family:"돋움"; font-size:12px; }
.news-container ul li { width:100%; height:90px; line-height:27px;  overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }

#db {overflow:hidden; background:url(../m-img/form_bg.gif) no-repeat;
	background-size:100%; width:100%; max-width:640px; margin:auto;}
	#db .box1 {margin:38% 10% 50% 10%;}
	.inputform2 {
		width: 28%;
		height: 25px;
	}
	.selectform1 {
		height: 25px;
		line-height: 20px;
		padding: 0px;
		font-size: 16px;
		width: 28%;
		background-color: #fff;
	}

.viewport {
	margin: 0px auto; width: 100%; overflow: hidden; padding-top: 4%; padding-bottom: 4%; -webkit-transform: translateZ(0); position:relative;
}

.flipsnap {
	width: 400%;
}
.flipsnap::after {
	height: 0px; clear: both; display: block; content: "";
}
.item {
	width:25%; text-align: center; color: rgb(102, 102, 102); font-size: 50px; margin-left: 0%; float: left;
}
@media screen and (max-width:480px)
{
.mod-header h1 {
	padding-bottom: 10px; font-size: 34px;
}
.mod-header nav ul {
	font-size: 18px;
}
.main {
	width: 400px;
}
.demo {
	position: relative;
}
.github-ribbon {
	display: none;
}
}