@charset "utf-8";
/* CSS Document */

/* ==========================================================================
기본 CSS 속성
========================================================================== */
body,p,div,img { margin:0px; padding:0px; border:none; word-break:break-all; font-family:"맑은 고딕";}
a{ text-decoration:none; color:#000; }
h1, h2 { margin:0px; padding:0px; }
h1 { padding:8px 0; }
h2 { padding-bottom:7px; }
input[type=text] { height:17px; }
input[type=tel] { height:17px; }

#contents { padding:0px 10px; }
h1 { font-family:"맑은 고딕"; font-size:24px; font-weight:bold; text-align:justify; } /* 타이틀 제목 */
h2 { font-family:"맑은 고딕"; font-size:17px; font-weight:bold; text-align:justify; color:#F00; }
#date { font-size:12px; color:#999; padding:10px 0 10px 2px; border-top:2px solid #dedede; border-bottom:2px solid #dedede; } /* 기사입력 */
.body_txt { padding-top:20px; font-family:"맑은 고딕"; font-size:16px; line-height:24px; text-align:justify; word-break:break-all;}
.sns_icon { padding-top:25px; }

#reply_tit { background:#f2f2f2;}
.re1{ background:#FFFFFF; font-size:12px; line-height:16px;}
.re2 { color: #333;}

.banner_tit { padding:10px 5px; font-family:malgun Gothic; font-size:15px; color:#304345; font-weight:bold; background-color:#F6F6F6; border-top:1px solid #A4A4A4; border-bottom:1px solid #A4A4A4; }
.banner_tit02 { background-color:#F6F6F6; font-family:malgun Gothic; font-weight:bold; text-align:right; padding-right:5px; border-top:1px solid #A4A4A4; border-bottom:1px solid #A4A4A4; }
.banner_tit02 a { font-weight:bold; }
.banner_box { padding:10px; }
.banner_txt, .banner_txt a { font-size:15px; line-height:20px; padding-bottom:5px;  }
.banner_txt02, a { font-size:14px; line-height:18px; text-align:center; padding-bottom:5px; }
.b_list { border-top:1px solid #CCC; border-bottom:1px solid #CCC; text-align:center; font-weight:bold; width:25%; height:35px; }
.b_list0 { color:#0d0d4e; text-align:center; font-weight:bold; width:25%; height:35px; border-top:1px solid #CCC; }
.b_list0 a { text-decoration:none; color:#0d0d4e; }


#footer { background-color:#f4f4f4; text-align:center; padding:15px; }
.foot_txt { font-family:dotum; color:#666; font-size:14px; padding-top:10px; }

/* ==========================================================================
추가 CSS 속성
========================================================================== */

#news-container { width:100%; overflow: hidden; position: relative; }
#news-container ul { position:absolute; left:0px; width:100%; font-family:"돋움"; font-size:15px; }
#news-container ul li { width:100%; padding-right:10px; height:30px; line-height:30px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.head_txt_style01 { font-family:"맑은 고딕"; font-size:15px; }
.head_txt_style01 li { float:left; padding-left:5px; }
#news-container-head { font-family:"맑은 고딕"; font-size:15px; font-weight:bold; padding-bottom:1px; }

#db_form { background:#081c32; padding:10px; }
.db_box { width:390px; margin:0 auto; padding:25px 0; }
.db_box td { padding-bottom:10px; }
.db_txt { font-family:"맑은 고딕"; font-size:16px; font-weight:bold; color:#FFF; width:90px; }

.sub_txt { font-family:"맑은 고딕"; font-size:14px; padding:5px 0; text-align:center;}
.c_txt { font-family:"맑은 고딕"; font-size:12px; padding:5px; color:#666;}

.re_1{ padding-left:10px; font-size:12px; font-weight:bold; background:#f6f6f6; border:1px solid #dcdcdc;}
.re_2{line-height:20px; padding:6px; font-size:13px}

