@charset "utf-8";
/* CSS Document */

* { margin:0px; padding:0px; list-style:none; }
img { border:none; }
a { text-decoration:none; color:#000; }
a:hover { color:#F00; font-weight:bold; }

.top_line { border-top:1px solid #dedede; }
.top_line2 { background:#f93838; }
#top { padding-top:20px; }

#main { padding-right:10px; }
#title { font-family:"맑은 고딕"; font-weight:bold; font-size:26px; padding:20px 0; }
#title p { font-size:15px; padding-top:10px; line-height:24px; }
.body_txt { font-family:"맑은 고딕"; font-size:15px; line-height:24px; text-align:justify; padding:13px 0; }

#db_form { width:640px; margin:0 auto; background:#f2f3f4; padding-bottom:20px; }
#db_box { width:500px; margin:0 auto; font-family:"맑은 고딕"; }
#db_box td { padding-bottom:10px; }
.db_txt2 { margin:12px 0; }
.db_txt3 { font-size:13px; color:#666; }
#db_btn { margin-top:20px; }

#right { background:#f2f1f1; }
#right_box { width:300px; margin:20px auto; }
.r_tit { font-family:"돋움"; font-size:13px; font-weight:bold; padding-bottom:8px; }
.r_tit span { color:#F00; }
.r_box { background:#FFF; border:1px solid #dedede; padding:10px 8px 0px 8px; font-family:"돋움"; font-size:12px; }
.r_box td { padding-bottom:10px; }

.re_box1 { font-family:'돋움',dotum,Helvetica,sans-serif; border-bottom:1px solid #d8d8d9; padding-bottom:5px; }
.re_title { font-weight:bold; font-size:17px; font-family:'돋움',dotum,Helvetica,sans-serif; }
.re_box2 { padding:10px 0 8px; font-family:'돋움',dotum,Helvetica,sans-serif; }
.re_box2 td { font-size:13px; color:#555; }
.re_box2 span { font-size:13px; color:#03C; }
.re_txt1 { font-weight:bold; font-size:13px; color:#000; font-family:'돋움',dotum,Helvetica,sans-serif; letter-spacing:-1px; padding:18px 0 6px; }
.re_txt2 { font-size:13px; color:#000; font-family:'돋움',dotum,Helvetica,sans-serif; letter-spacing:-1px; padding:3px 0 }
.re_txt3 { font-size:13px; color:#999; font-family:'돋움',dotum,Helvetica,sans-serif; letter-spacing:-1px; padding-bottom:5px; }

.ad_5{ position:relative; overflow:hidden; margin:20px auto; background-color:#f6f6f6; padding:15px 20px 15px 30px; }
.re_title2 { font-size:16px; font-weight:bold; font-family:"맑은 고딕"; letter-spacing:-1px; }
.ad_5 table{ margin:10px 0 15px; }
.ad_5_td1 { font-size:15px; color:#666; font-weight:bold; font-family:"맑은 고딕"; }
.ad_5_td2 { padding-left:35px; }
.ad_5_td2 td { padding-bottom:5px; }
.ad_5_td2 a {color:#666; font-family:"맑은 고딕"; font-size:14px; }


#footer { border-top:1px solid #dedede; text-align:center; font-family:"돋움"; font-size:13px; padding:10px 0; }
#footer p { font-weight:bold; }